body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom left , #c450bf , #4759ce);
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    padding: 10% 20%;
}
.main{
    text-align: center;
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-evenly;
    padding: 10% 0;
    margin-top: 5%;
    border-radius: 32px;
}
input{
    display: block;
    margin-top: 7%;
    background-color: rgb(218, 218, 218);
    border: none;
    border-radius: 32px;
    padding: 16px 32px;
}
.loginb{
    background-color: lightgreen;
    border: none;
    border-radius: 32px;
    padding: 1px 0;
    width: 100%;
    margin-top: 7%;
    color: white;
}
.logina{
    text-decoration: none;
    background-color: transparent;
    color: rgb(149, 149, 149);
}
.creatacc{
    text-decoration: none;
    background-color: transparent;
    color: rgb(149, 149, 149);
}
.img{
    margin-top: 5%;
}